<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/fo/fragments/head.html :: page_head('LMS 교육과정')}">
</head>
<body>
<div id="app">

    <div th:replace="~{/fo/fragments/navbar.html :: navbar}"></div>

    <div class="xl:pl-120 xl:pr-120">
        <p th:text="${commonUri}"></p>

        <div class="content">
            <div class="flex-grow">
                <div class="bg-primary shadow-2xl rounded-lg p-6">
                    <h1 class="text-xl text-white">이용안내</h1>
                </div>
                <div class="text-sm font-medium text-center border-b border-outline border-gray-200 dark:text-gray-400 dark:border-gray-700">
                    <ul class="flex flex-wrap -mb-px">
                        <li class="me-2">
                            <a th:href="@{/about/faq}" class="inline-block p-4 text-primary border-b-2 border-primary rounded-t-lg active dark:text-primary dark:border-primary" aria-current="page">FAQ</a>
                        </li>
                        <li class="me-2">
                            <a th:href="@{/about/notice}" class="inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300">공지사항</a>
                        </li>
                        <li class="me-2">
                            <a th:href="@{/about/qnaList}" class="inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300">Q&A</a>
                        </li>
                    </ul>
                </div>

                <div class="w-full divide-y divide-outline text-on-surface dark:divide-outline-dark dark:text-on-surface-dark">
                    <div th:each="item : ${faqList}" x-data="{ isExpanded: false }">
                        <button id="controlsAccordionItemOne" type="button" class="flex w-full items-center justify-between gap-4 py-4 text-left underline-offset-2 focus-visible:underline focus-visible:outline-hidden" aria-controls="accordionItemOne" x-on:click="isExpanded = ! isExpanded" x-bind:class="isExpanded ? 'text-on-surface-strong dark:text-on-surface-dark-strong font-bold'  : 'text-on-surface dark:text-on-surface-dark font-medium'" x-bind:aria-expanded="isExpanded ? 'true' : 'false'">
                            <div th:text="${item.question}"></div>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke-width="2" stroke="currentColor" class="size-5 shrink-0 transition" aria-hidden="true" x-bind:class="isExpanded  ?  'rotate-180'  :  ''">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5"/>
                            </svg>
                        </button>
                        <div x-cloak x-show="isExpanded" id="accordionItemOne" role="region" aria-labelledby="controlsAccordionItemOne" x-collapse>
                            <div th:text="${item.answer}" class="pb-4 text-sm sm:text-base text-pretty"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:replace="~{/fo/fragments/pagination.html :: pagination}"></div>

        <div th:replace="~{/fo/fragments/footer.html :: footer}"></div>
    </div>

</div>
</body>
</html>