<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/fo/fragments/head.html :: page_head('LMS 교육과정')}">
</head>
<body>
<div id="app">

    <div th:replace="~{/fo/fragments/navbar.html :: navbar}"></div>

    <div class="xl:pl-120 xl:pr-120">
        <p th:text="${commonUri}"></p>

        <div class="content">
            <div class="flex-grow">
                <div class="bg-primary shadow-2xl rounded-lg p-6 mb-2">
                    <h1 class="text-xl text-white">이용안내</h1>
                </div>
                <div class="mb-2 text-sm font-medium text-center border-b border-outline border-gray-200 dark:text-gray-400 dark:border-gray-700">
                    <ul class="flex flex-wrap -mb-px">
                        <li class="me-2">
                            <a th:href="@{/about/faq}" class="inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300">FAQ</a>
                        </li>
                        <li class="me-2">
                            <a th:href="@{/about/notice}" class="inline-block p-4 text-primary border-b-2 border-primary rounded-t-lg active dark:text-primary dark:border-primary" aria-current="page">공지사항</a>
                        </li>
                        <li class="me-2">
                            <a th:href="@{/about/qna}" class="inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300">Q&A</a>
                        </li>
                    </ul>
                </div>

                <div th:if="${noticeList == null or #lists.isEmpty(noticeList)}">
                    <p class="text-center">공지사항이 없습니다.</p>
                </div>
                <div th:unless="${noticeList == null or #lists.isEmpty(noticeList)}" class="relative overflow-x-auto">
                    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th scope="col" class="px-6 py-3">
                                제목
                            </th>
                            <th scope="col" class="px-6 py-3">
                                조회수
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="item : ${noticeList}" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
                            <th th:text="${item.title}" scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            </th>
                            <td class="px-6 py-4">
                                <p th:text="${item.hits}"></p>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div th:replace="~{/fo/fragments/pagination.html :: pagination}"></div>

        <div th:replace="~{/fo/fragments/footer.html :: footer}"></div>
    </div>

</div>
</body>
</html>