<!DOCTYPE>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="page_head(title)">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0">

  <title>[[${title}]]</title>

  <link th:href="@{/main.css}" rel="stylesheet" type="text/css"/>

  <script defer
          src="https://cdn.jsdelivr.net/npm/@alpinejs/focus@3.x.x/dist/cdn.min.js"
          integrity="sha384-bKXNU7o2Y3Uk/F2PB6U0bMyGZf6pLDnePM70U7sTE3cXUQ+JLgzrr/kwipEh0p23"
          crossorigin="anonymous">
  </script>
  <script defer
          src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
          integrity="sha384-X9kJyAubVxnP0hcA+AMMs21U445qsnqhnUF8EBlEpP3a42Kh/JwWjlv2ZcvGfphb"
          crossorigin="anonymous">
  </script>

</head>

</html>