<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/fo/fragments/head.html :: page_head('LMS 교육과정')}">
</head>
<body>
<div id="app">
    <div th:replace="~{/fo/fragments/navbar.html :: navbar}"></div>

    <div class="lg:pl-80 lg:pr-80">
        <p th:text="${commonUri}"></p>

        <div class="content">
            <div class="flex-grow">
                <div class="grid grid-cols-4 gap-4 mb-8">
                    <div th:replace="~{/fo/fragments/modal.html :: modal('버튼', '제목', '잘 못 된 접근입니다.')}"></div>
                </div>
            </div>
        </div>

        <div th:replace="~{/fo/fragments/footer.html :: footer}"></div>
    </div>
</div>
</body>
</html>