<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/fo/fragments/head.html :: page_head('LMS 홈')}">
</head>
<body>
  <div id="app">
      <div th:replace="~{/fo/fragments/navbar.html :: navbar}"></div>
  </div>
  <script>
      function logout(e) {
          e.preventDefault();
          e.stopPropagation();

          document.cookie = 'accessToken' + '=; expires=Thu, 01 Jan 1970 00:00:01 GMT; path=/;';
          window.location.href = '/auth/logout/google';
      }
  </script>
</body>
</html>