<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/fo/fragments/head.html :: page_head('로그인 페이지')}">
<body>

<div class="flex items-center h-screen w-full">
    <form th:action="@{/auth/login}" class="w-2/6 min-w-60 mx-auto flex-shrink-0">
        <div class="mb-5">
            <button id="snsGoogleBtn" type="button" class="w-full whitespace-nowrap rounded-radius bg-info border border-info px-4 py-2 text-sm font-medium tracking-wide text-white transition hover:opacity-75 text-center focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-info active:opacity-100 active:outline-offset-0 disabled:opacity-75 disabled:cursor-not-allowed dark:bg-info dark:border-info dark:text-onInfo dark:focus-visible:outline-info">
                <span class="flex items-center justify-center">
                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="15" height="15" viewBox="0,0,256,256" style="fill:#FFFFFF;">
                        <g fill="#ffffff" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal">
                            <g transform="scale(4,4)">
                                <path d="M32.52148,6c-14.363,0 -26.00586,11.642 -26.00586,26c0,14.358 11.64286,26 26.00586,26c21.688,0 26.57697,-20.13403 24.54297,-30.33203h-5.88281h-1.91211h-16.75391v8.66602h16.76367c-1.92754,7.47083 -8.69118,12.99805 -16.76367,12.99805c-9.572,0 -17.33398,-7.76003 -17.33398,-17.33203c0,-9.572 7.76198,-17.33203 17.33398,-17.33203c4.353,0 8.31928,1.61563 11.36328,4.26563l6.1543,-6.1543c-4.623,-4.212 -10.76672,-6.7793 -17.51172,-6.7793z"></path>
                            </g>
                        </g>
                    </svg>
                    <span class="ml-3">구글 로그인</span>
                </span>
            </button>
        </div>
        <div class="mb-5" th:if="${isInvalidEmail != null && isInvalidEmail}">
            <h2 class="text-red-500">이메일을 확인해주세요!</h2>
        </div>
        <div class="mb-5">
            <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">이메일</label>
            <input name="email" type="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="이메일" required />
        </div>

<!--        <div th:replace="~{/fo/fragments/modal.html :: modal('버튼', '제목', '본문')}"></div>-->

        <div class="mb-5">
            <button type="submit" class="text-white bg-secondary hover:opacity-75 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">로그인</button>
        </div>
    </form>
</div>

<script>
window.onload = () => {

const googleBtn = document.getElementById('snsGoogleBtn');

googleBtn.addEventListener('click', () => {
    window.location.href = '/auth/google/login';
});

}
</script>

</body>
</html>