@config "./tailwind.config.js";
@import "tailwindcss";

@theme {
    /* light theme */
    --color-surface: var(--color-neutral-100);
    --color-surface-alt: var(--color-neutral-200);
    --color-on-surface: var(--color-neutral-800);
    --color-on-surface-strong: var(--color-black);
    --color-primary: var(--color-purple-500);
    --color-on-primary: var(--color-white);
    --color-secondary: var(--color-sky-500);
    --color-on-secondary: var(--color-white);
    --color-outline: var(--color-neutral-300);
    --color-outline-strong: var(--color-neutral-800);

    /* dark theme */
    --color-surface-dark: var(--color-neutral-800);
    --color-surface-dark-alt: var(--color-neutral-900);
    --color-on-surface-dark: var(--color-neutral-300);
    --color-on-surface-dark-strong: var(--color-neutral-100);
    --color-primary-dark: var(--color-purple-400);
    --color-on-primary-dark: var(--color-black);
    --color-secondary-dark: var(--color-blue-400);
    --color-on-secondary-dark: var(--color-black);
    --color-outline-dark: var(--color-neutral-700);
    --color-outline-dark-strong: var(--color-neutral-300);

    /* shared colors */
    --color-info: var(--color-cyan-500);
    --color-on-info: var(--color-black);
    --color-success: var(--color-teal-400);
    --color-on-success: var(--color-black);
    --color-warning: var(--color-yellow-300);
    --color-on-warning: var(--color-black);
    --color-danger: var(--color-pink-500);
    --color-on-danger: var(--color-black);

    /* border radius */
    --radius-radius: var(--radius-xl);
}