@config "./tailwind.config.js";
@import "tailwindcss";

@theme {
    /* light theme */
    --color-surface: var(--color-gray-50);
    --color-surface-alt: var(--color-gray-200);
    --color-on-surface: var(--color-gray-800);
    --color-on-surface-strong: var(--color-gray-950);
    --color-primary: var(--color-sky-900);
    --color-on-primary: var(--color-white);
    --color-secondary: var(--color-indigo-900);
    --color-on-secondary: var(--color-white);
    --color-outline: var(--color-gray-500);
    --color-outline-strong: var(--color-gray-900);

    /* dark theme */
    --color-surface-dark: var(--color-gray-900);
    --color-surface-dark-alt: var(--color-gray-800);
    --color-on-surface-dark: var(--color-gray-300);
    --color-on-surface-dark-strong: var(--color-gray-100);
    --color-primary-dark: var(--color-sky-400);
    --color-on-primary-dark: var(--color-black);
    --color-secondary-dark: var(--color-indigo-400);
    --color-on-secondary-dark: var(--color-black);
    --color-outline-dark: var(--color-gray-500);
    --color-outline-dark-strong: var(--color-gray-300);

    /* shared colors */
    --color-info: var(--color-sky-500);
    --color-on-info: var(--color-black);
    --color-success: var(--color-green-500);
    --color-on-success: var(--color-black);
    --color-warning: var(--color-yellow-500);
    --color-on-warning: var(--color-black);
    --color-danger: var(--color-red-500);
    --color-on-danger: var(--color-black);

    /* border radius */
    --radius-radius: var(--radius-sm);
}